<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.modules.small.dao.SmallAppraiseMapper">


    <!-- 基础map -->
    <resultMap type="com.icloud.modules.small.entity.SmallAppraise" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="spuId" column="spu_id"/>
     <result property="skuId" column="sku_id"/>
     <result property="orderId" column="order_id"/>
     <result property="userId" column="user_id"/>
     <result property="content" column="content"/>
     <result property="score" column="score"/>
     <result property="createTime" column="create_time"/>
     <result property="modifyTime" column="modify_time"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,spu_id,sku_id,order_id,user_id,content,score,create_time,modify_time
    </sql>


<select id="queryMixList" resultMap="BaseResultMap">
select * from t_small_appraise t
<where>
<if test="id != null">
    and t.id = #{id}
</if>
<if test="spu_id != null">
    and t.spu_id = #{spu_id}
</if>
<if test="sku_id != null">
    and t.sku_id = #{sku_id}
</if>
<if test="order_id != null">
    and t.order_id = #{order_id}
</if>
<if test="user_id != null">
    and t.user_id = #{user_id}
</if>
<if test="content != null">
    and t.content = #{content}
</if>
<if test="score != null">
    and t.score = #{score}
</if>
<if test="create_time != null">
    and t.create_time = #{create_time}
</if>
</where>
</select>
</mapper>