<!DOCTYPE html>
<html>
<head>
    <title>订单日报</title>
		<#include "/header.html">
</head>
<body>
<div id="icloudapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.shopName" @keyup.enter="query" placeholder="店铺名称">
            </div>
            <div class="form-group col-sm-1">
                <select class="form-control"  v-model="q.year">
                    <option v-for="(item,index) in yearlist" :value="item.year" :key="index">{{item.year}}年</option>
                </select>
            </div>
            <div class="form-group col-sm-1">
                <select class="form-control"  v-model="q.month">
                    <option v-for="(item,index) in monthlist" :value="item.month" :key="index">{{item.month}}月</option>
                </select>
            </div>
            <a class="btn btn-default" @click="query">查询</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>


<script src="${request.contextPath}/statics/js/modules/small/orderreportmonth.js?_${.now?long}"></script>
</body>
</html>