<!DOCTYPE html>
<html>
<head>
    <title>店铺银行审核</title>
		<#include "/header.html">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <style>
       .bootstrap-select{
            width: 122% !important;
        }
        .ui-jqgrid {
            margin-top: 4.5rem !important;
        }
        .jqGrid{
            margin-top: 0rem !important;
        }
        .row {
            border-top: 1px solid #ddd;
            margin: 0.3rem !important;
            padding: 10px 2px 0px 2px !important;
        }
    </style>
</head>
<body>
<div id="icloudapp" v-cloak>
    <div v-show="showList">
        <div class="row">
            <div class="col-lg-2">
                <input type="text" class="form-control" v-model="q.userName" @keyup.enter="query" placeholder="用户名称">
            </div>
            <div class="col-lg-1">
                <input type="text" class="form-control" v-model="q.mobile" @keyup.enter="query" placeholder="手机号">
            </div>
            <div class="col-lg-1">
                <input type="text" class="form-control" v-model="q.shopName" @keyup.enter="query" placeholder="店铺名称">
            </div>
            <div class="col-lg-1">
                <input type="text" class="form-control" v-model="q.bankName" @keyup.enter="query" placeholder="提现银行">
            </div>
            <div class="col-lg-1">
                <input type="text" class="form-control" v-model="q.subBranch" @keyup.enter="query" placeholder="提现支行">
            </div>
            <div class="col-lg-1">
                <input type="text" class="form-control" v-model="q.cardNo" @keyup.enter="query" placeholder="提现账号">
            </div>
            <div class="col-lg-1">
                <select class="selectpicker" title="启用状态" v-model="q.status" style="width: 103px;">
                    <option value="">全部</option>
                    <option value="0">禁用</option>
                    <option value="2">正常</option>
                </select>
            </div>
            <div class="col-lg-1">
                <select class="selectpicker" title="审核状态" v-model="q.approveFlag" style="width: 103px;">
                    <option value="">全部</option>
                    <option value="0">未审核</option>
                    <option value="1">通过</option>
                    <option value="2">不通过</option>
                </select>
            </div>
            <div class="col-lg-1">
                <a class="btn btn-default" @click="query">查询</a>
            </div>
        </div>
        <div class="grid-btn">
            <div class="form-group col-sm-6">
                <div class="col-sm-1 control-label" style="line-height: 3rem;color:#808080;width:15%;text-align:right;">查询时间段:</div>
                <el-date-picker
                        v-model="q.startTime"
                        type="datetime"
                        placeholder="选择开始日期" value-format="yyyy-MM-dd HH:mm:ss" >
                </el-date-picker>
                <el-date-picker
                        v-model="q.endTime"
                        type="datetime"
                        placeholder="选择结束日期" value-format="yyyy-MM-dd HH:mm:ss" >
                </el-date-picker>
            </div>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
      <!--      <div class="form-group">
                <div class="col-sm-2 control-label">所属店铺</div>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{shopName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li v-for="(item,index) in shopList" :key="index"><a href="#" @click="selectShop(index)">{{item.shopName}}</a></li>
                    </ul>
                </div>
            </div>-->
				 <div class="form-group">
                        <div class="col-sm-2 control-label">银行名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shopBank.bankName" placeholder="银行名称" readonly/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">支行名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shopBank.subBranch" placeholder="支行名称" readonly/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">银行卡号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shopBank.cardNo" placeholder="银行卡号" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">开户行编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shopBank.bankCode" placeholder="开户行编号" readonly/>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">用户姓名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shopBank.userName" placeholder="用户姓名" readonly/>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">手机号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shopBank.mobile" placeholder="手机号" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">审核不通过原因</div>
                        <div class="col-sm-10">
                                    <textarea type="text" class="form-control" v-model="shopBank.msg" placeholder="审核不通过原因">

                                    </textarea>
                        </div>
                    </div>

                    <!--<div class="form-group" >
                        <div class="col-sm-2 control-label">状态</div>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="1" v-model="shopBank.status"/> 审核通过
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="0" v-model="shopBank.status" checked="checked"/> 审核不通过
                        </label>
                    </div>-->

			<div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/shop/shopbankshenhe.js?_${.now?long}"></script>
</body>
</html>