<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.modules.shop.dao.ShopBankMapper">


    <!-- 基础map -->
    <resultMap type="com.icloud.modules.shop.entity.ShopBank" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="shopId" column="shop_id"/>
     <result property="bankName" column="bank_name"/>
     <result property="subBranch" column="sub_branch"/>
     <result property="cardNo" column="card_no"/>
     <result property="userName" column="user_name"/>
     <result property="mobile" column="mobile"/>
     <result property="status" column="status"/>
     <result property="createdBy" column="created_by"/>
     <result property="createdTime" column="created_time"/>
     <result property="updatedBy" column="updated_by"/>
     <result property="updatedTime" column="updated_time"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,shop_id,bank_name,sub_branch,card_no,user_name,mobile,status,created_by,created_time,updated_by,updated_time
    </sql>


<select id="queryMixList" resultMap="BaseResultMap">
select t.*,s.shop_name as "shop.shopName" from shop_bank t,shop s
<where>
t.shop_id = s.id
<if test="id != null">
    and t.id = #{id}
</if>
<if test="shopId != null">
    and t.shop_id = #{shopId}
</if>
<if test="bankName != null">
    and t.bank_name like CONCAT('%', '${bankName}', '%')
</if>
<if test="subBranch != null">
    and t.sub_branch = #{subBranch}
</if>
<if test="cardNo != null">
    and t.card_no like CONCAT('%', '${cardNo}', '%')
</if>
<if test="userName != null">
    and t.user_name  like CONCAT('%', '${userName}', '%')
</if>
<if test="mobile != null">
    and t.mobile like CONCAT('%', '${mobile}', '%')
</if>
<if test="status != null">
    and t.status = #{status}
</if>
<if test="createdBy != null">
    and t.created_by = #{createdBy}
</if>
<if test="createdTime != null">
    and t.created_time = #{createdTime}
</if>
<if test="updatedBy != null">
    and t.updated_by = #{updatedBy}
</if>
<if test="shopName != null and shopName!=''">
    and s.shop_name like CONCAT('%', '${shopName}', '%')
</if>
    <if test="sql_filter != null and sql_filter!=''">
        and ${sql_filter}
    </if>
</where>
</select>
</mapper>